a, span, div, body, button, input, img, form, h1, h2, h3, h4, h5, h6, code {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.96);
}

a {
	text-decoration: none;
	transition: background 0.125s, color 0.125s;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

.block {
	display: block;
}

.m-bottom {
	margin-bottom: 1rem;
}

.m-bottom-small {
	margin-bottom: 0.5rem;
}

.m-bottom-medium {
	margin-bottom: 1.5rem;
}

.m-bottom-large {
	margin-bottom: 2rem;
}

.m-top {
	margin-top: 1rem;
}

.m-top-small {
	margin-top: 0.5rem;
}

.m-top-medium {
	margin-top: 1.5rem;
}

.m-top-large {
	margin-top: 2rem;
}

/* text */

.code-font {
	font-family: "Source Code Pro", monospace;
}

button {
	appearance: none;
	background-color: transparent;
}

/* buttons */

.button {
	padding: 0.55rem 1.35rem;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
	transition: all .17s ease-out;
	background-color: #fff;
	color: #49b9ca;
}

.button:hover {
	background-color: #e5f6ff;
}

.button:focus {
	background-color: #d6ebf5;
}

.button.primary {
	background-color: #49b9ca;
	color: #fff;
}

.button.primary:hover {
	background-color: #59d1e3;
}

.button.primary:focus {
	background-color: #52b7c7;
}

.button.red {
	color: #fff;
	background-color: #e73939;
}

.button.red:hover {
	background-color: #ff5d5d;
}

.button.red:focus {
	background-color: #be2828;
}

.button.outline {
	background-color: transparent;
	color: #fff;
	padding: calc(0.55rem - 1px) calc(1.35rem - 1px);
	border: 1px solid #fff;
}

.button.outline:hover {
	border-color: #e5f6ff;
}

.button.outline:focus {
	border-color: #d6ebf5;
}

.button.outline.red {
	color: #e73939;
    border-color: #e73939;
}

.button.outline.red:hover {
	border-color: #ff5d5d;
	background-color: transparent;
}

.button.outline.red:focus {
	border-color: #be2828;
	background-color: transparent;
}

/* inputs */

.input {
	box-sizing: border-box;
	background-color: #fff;
	border: 2px solid #49b9ca;
	padding: 0.55rem 0.75rem;
	border-radius: 6px;
	font-size: 16px;
}

.input.full {
	display: block;
	width: 100%;
}

.input:focus {
	border-color: #59d1e3;
}

.input.primary {
	background-color: #60c9da;
	border-color: #43afc0;
	color: #fff;
}

.input.primary:focus {
	border-color: #43afc0;
}

.input.red, .input.red:focus {
	border-color: #e73939;
}

.inputContainer .input:last-child {
	margin-left: 8px;
}

.inputs {
	box-sizing: border-box;
}

.inputs .input.full, .inputContainer {
	margin-bottom: 8px;
}

.input-label {
	display: block;
	font-size: 0.95rem;
	font-weight: 500;
	margin-bottom: 0.3rem;
	color: #2eaabd;
}

/* icons */

.icon {
	display: flex;
	align-items: center;
	color: inherit;
}

.icon.white {
	color: rgba(255, 255, 255, 0.78);
	font-weight: 500;
}

.icon>span {
	margin-left: 6px;
}

.imgHover, .menuBtn {
	cursor: pointer;
	-webkit-transition: -webkit-filter 0.125s;
}

.imgHover:hover img, .menuBtn:hover img {
	-webkit-filter: brightness(200%);
	filter: brightness(200%);
}

.outside-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.outside {
	display: flex;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	contain: layout;
	flex-direction: column;
	height: 100vh;
}

.scroll-wrapper {
	position: relative;
	min-height: 1px;
	height: 100%;
	display: flex;
	flex: 1;
}

.scroll-wrapper.nav {
	flex: 1 1 auto;
	height: auto;
	max-height: 100vh;
	position: relative;
	z-index: 3;
}

.scroller {
	overflow-y: scroll;
	min-height: 1px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.main-content .scroller {
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}

.nav-scroller {
	display: flex;
	justify-content: flex-end;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* scrollbar */

.scroller::-webkit-scrollbar {
	width: 15px;
}

.scroller::-webkit-scrollbar-thumb, .scroller::-webkit-scrollbar-track {
	background-clip: padding-box;
	border-width: 3px;
	border-style: solid;
	border-radius: 30px;
}

.scroller::-webkit-scrollbar-track {
	border-width: initial;
}

.scroller::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-color: transparent;
}

.scroller::-webkit-scrollbar-track {
	background-color: transparent;
	border-color: transparent;
}

.scroller::-webkit-scrollbar-thumb, .scroll-wrapper .scroller::-webkit-scrollbar-thumb, .scroller::-webkit-scrollbar-thumb {
	background-color: #c8f8ff;
	border-color: transparent;
}

.scroller::-webkit-scrollbar-thumb:hover, .scroll-wrapper .scroller::-webkit-scrollbar-thumb:hover, .scroller::-webkit-scrollbar-thumb:hover {
	background-color: #e2fbff;
	border-color: transparent;
}

.scroller::-webkit-scrollbar-track, .scroll-wrapper .scroller::-webkit-scrollbar-track, .scroller::-webkit-scrollbar-track {
	background-color: transparent;
	border-color: transparent;
}

.content {
	display: flex;
	overflow: hidden;
	flex: 1 1 100%;
	margin: 0;
}

.sidebar {
	background-color: #49b9ca;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 350px;
	flex-direction: column;
	min-width: 250px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.sidebar .sidebar-container {
	display: flex;
	flex: 1 0 100%;
	flex-direction: column;
	max-width: 335px;
	min-height: min-content;
	position: relative;
	z-index: 3;
}

.sidebar .sidebar-inner {
	flex: 1 1 auto;
	height: fit-content;
	padding: 26px 17px 32px 32px;
}

.main-content {
	background-color: #98dff3;
	display: flex;
	flex: 1 1 1440px;
	flex-direction: column;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0 0 6px rgb(0 0 0 / 15%);
}

.main-content .wrapper {
	display: flex;
	box-sizing: border-box;
	flex: 1 1 auto;
	flex-direction: column;
	/* max-width: 1440px; */
	min-height: min-content;
	padding: 32px;
	width: 100%;
}

.main-content .main {
	position: relative;
	height: 100%;
}

.logo {
	display: flex;
	align-items: center;
	color: #fff;
	line-height: 0;
}

.logo>span {
	margin-left: 0.55rem;
	font-size: 1.15rem;
	font-weight: 500;
}

.nav-items {
	margin-top: 1.65rem;
}

.nav-item {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
	transition: background 0.125s, color 0.125s;
	color: rgba(255, 255, 255, 0.78);
}

.nav-item:hover, .icon.white:hover {
	color: rgba(255, 255, 255, 0.92);
}

.nav-item:focus, .icon.white:focus {
	color: rgba(255, 255, 255, 0.92);
}

.nav-item.active {
	font-weight: 600;
	background-color: #fff;
	color: #49b9ca;
}

.nav-item.icon span {
	font-weight: normal;
	margin-right: 0.65rem;
}

.nav-items #appSelect {
	margin-bottom: 1rem;
}

.nav-items .input-label {
	color: rgba(255, 255, 255, 0.82);
}
.mobile-nav {
	display: none;
	color: #fff;
}

.nav-header {
	display: flex;
}

.mobile-overlay {
	background: rgba(0, 0, 0, 0.65);
	position: fixed;
	top: 3.5rem;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
	z-index: 9998;
}

.top-bar .dropdown {
	right: 46px;
	top: 80px;
}

@media only screen and (max-width: 990px) {
	.sidebar {
		bottom: 0;
		height: auto;
		right: 100vw;
		max-width: 360px;
		position: fixed;
		top: 3.5rem;
		transform: translateX(0);
		transition: transform 0.2s;
		width: 90vw;
		z-index: 9999;
	}
	.sidebar .sidebar-container {
		max-width: none;
	}
	.sidebar.open {
		transform: translateX(100%);
	}
	.main-content {
		flex: 1;
	}
	.top-bar .user-button {
		display: none;
	}
	.top-bar .dropdown {
		top: 4rem;
		right: 2rem;
	}
	.mobile-nav {
		display: block;
		background-color: #34a1b2;
		padding: 0.5rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.mobile-overlay {
		display: block;
	}
	.mobile-overlay.open {
		opacity: 1;
		pointer-events: auto;
	}
	.main-content .wrapper {
		padding: 32px 2rem 32px 2rem;
	}
}

.top-bar {
	display: flex;
	align-items: center;
	padding-bottom: 1.25rem;
}

.top-bar .title {
	margin-right: 0.5rem;
}

.divider {
	background-color: #e5f6ff;
	height: 1px;
}

.title {
	margin: 0;
	font-size: 1.75rem;
	font-weight: 600;
}

.title.medium {
	font-size: 1.4rem;
}

.user-button {
	width: 40px;
	height: 40px;
}

.top-bar .user-button {
	margin-left: 0.75rem;
}

.pfp {
	line-height: 0;
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 50%;
	flex-shrink: 0;
	cursor: pointer;
}

.pfp-inner {
	width: 100%;
	height: 100%;
	background-clip: padding-box;
	background-color: none;
	background-position: 50%;
	background-size: 100%;
	border-radius: 50%;
}

.dropdown {
	position: fixed;
	box-sizing: border-box;
	background-color: #fff;
	color: #141515;
	border: 3px solid #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	min-width: 10rem;
	z-index: 100;
}

.dropdown .header {
	padding: 0.75rem 1.25rem calc(0.75rem + 1px) 1.25rem;
}

.dropdown .items {
	padding-top: 3px;
}

.dropdown .header>span {
	font-weight: 600;
}

.dropdown .item {
	display: flex;
	align-items: center;
	outline: none;
	text-decoration: none;
	padding: 0.65rem 1.25rem;
	border-radius: 5px;
	color: inherit;
	transition: background 0.125s, color 0.125s;
}

.dropdown .item:hover, .app:hover {
	background-color: #e5f6ff;
}

.dropdown .item:focus, .app:focus {
	background-color: #d6ebf5;
}

.dropdown .item.logout {
	color: rgb(196, 42, 42);
}

/* loading spiner */

.loader-container {
	display: block;
	margin: 1rem auto;
}

.loader {
	border: 5px solid transparent;
	border-radius: 50%;
	border-top: 5px solid #f2f2f2;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 25px;
	height: 25px;
	margin: auto;
	animation: spin 0.4s linear infinite;
}

.loader.small {
	width: 20px;
	height: 20px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* overlay and dialog box */

.overlay {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex: 1 1 auto;
	box-sizing: border-box;
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	height: 100%;
	transition: opacity 0.125s;
}

.dialog {
	background-color: #fff;
	color: #141515;
	border: 3px solid #fff;
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.45);
	border-radius: 6px;
	box-sizing: border-box;
	overflow: visible;
	width: 450px;
	max-width: 95vw;
	transition: opacity 0.125s, transform 0.125s;
}

.dialog-inner {
	padding: 0.85rem;
}

.dialog-title {
	margin-bottom: 0.85rem;
	font-weight: 500;
}

.dialog-actions {
	margin-top: 0.75rem;
	display: flex;
	align-items: center;
}

.dialog-actions .button:not(:last-child) {
	margin-right: 0.65rem;
}

/* app buttons */

.apps {
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	display: grid;
	margin: -0.85rem 0 2rem -0.85rem;
}

.app-wrapper {
	display: flex;
	flex: 0 0 auto;
	padding: 0.85rem 0 0 0.85rem;
}

.app {
	cursor: pointer;
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	color: inherit;
	padding: 0.75rem 0.75rem 0.75rem 0.75rem;
	border-radius: 8px;
	transition: background 0.125s, color 0.125s;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.app-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.app .app-icon-img {
	margin-bottom: 0.5rem;
}

.app-icon-img {
	align-items: center;
	background-size: cover;
	border-radius: 50%;
	justify-content: center;
	position: relative;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

.app-icon-img::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.app-details {
	font-weight: 500;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* form */

.form {
	max-width: 1080px;
}

.form .top {
	display: flex;
	align-items: top;
}

.form .top .app-icon {
	background-color: #fff;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 0.5rem;
}

.form .app-icon {
	line-height: 0;
	width: 150px;
	height: auto;
	margin-right: 1rem;
}

.form .top .inputs {
	width: 100%;
	box-sizing: border-box;
}

.form .top .info {
	display: flex;
	margin-top: 0.75rem;
}

@media only screen and (max-width: 540px) {
	.form .top {
		display: block;
	}
	.inputs.webhooks .inputContainer {
		display: block;
	}
	.inputs.webhooks .input {
		display: block;
		width: 100%;
		margin-bottom: 8px;
	}
	.inputContainer .input:last-child {
		margin: 0;
	}
}